* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: fit-content;
}

h1 {
    color: #dc2626;
    font-size:x-large;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 24px;
    text-align: center;
}

input[type="text"] {
    width: 50px;
}

button {
    color: #ffffff;
    background-color: #dc2626;
    border-color: transparent;
    width: 50px;
    height: 30px;
    border-radius: 20%;
}
button:active {
    background-color: #fc8585;
}